YUI().use('gallery-fwt-treeview', function (Y) {
    var buildTree = function (label, depth) {
        depth = depth || 0;
        if (depth > 5) {
            return;
        }
        var i, branch = [], node, newLabel;
        for (i = 0; i < Math.random() * 5 + 1; i += 1) {
            newLabel = label + '-' + i;
            node = {
                label: newLabel,
                expanded: Math.random() > 0.5,
                selected: Math.random() > 0.8
            }
            if (Math.random() > 0.6) {
                node.children = buildTree(newLabel, depth + 1);
            }
            branch.push(node);

        }
        return branch;
    };



    var tv = new Y.FWTreeView({
        tree: buildTree('label'),
        toggleOnLabelClick:true
    });

    tv.render('#container');


    Y.one('#show').on('click', function() {

        var output = ['<tr><th>Label</th><th>Selected</th></tr>'];

        tv.forSomeNodes(function (node) {
            if (node.get('selected')) {
                output.push(Y.Lang.sub(
                    '<tr><td>{label}</td><td>{selected}</td>',
                    node.getAttrs(['label','selected'])
                ));
            }
        });

        Y.one('#log').setHTML('<table>' + output.join('\n') + '</table>');

    });

});