<div class="intro">
    <p>
    Provides a standard text &lt;input&gt; field.  Base for other input types
    </p>
</div>

<h2>Description</h2>

<p>Provides a standard text input field with formatter, parser and validator.  <br>
Just starting on it.<br>
</p>

```
YUI().use('gallery-md-inputfield', function(Y) {


});
```

