<div class="intro">
    <p>
    Container to hold a set of InputFields
    </p>
</div>

<h2>Description</h2>

<p>A container to hold InputFields.  It may be either a &lt;fieldset&gt; container just for presentation or a &lt;form&gt;.<br>
</p>

```
YUI().use('gallery-md-fieldgroup', function(Y) {


});
```

