<div class="intro">
<p>This example shows how to use `FWTreeView` to create a basic TreeView.</p>
</div>
<div class="example">
<div id="container"></div>
<script type="text/javascript" src="http://yui.yahooapis.com/3.7.1/build/yui/yui-min.js"></script>
<script>
{{>tree-simple-source}}
</script>

</div>
<h3>Creating a simple `FWTreeView` instance</h3>


<p>The FWTreeView module allows you to create a simple tree structure.
All you need is to provide a basic structure for the tree and a dom element (div) in which to
render it.</p>

```
{{>tree-simple-source}}
```
